doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta( http-equiv="X-UA-Compatible" content="ie=edge")
        title #{title}
        base(href="/")
        link( rel="stylesheet" type="text/css" href="../css/bootstrap.min.css")
        link( rel="stylesheet" type="text/css" href="../css/common.css")
        block csses
        script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script( src="../js/bootstrap.min.js")
        block scripts
    body
        nav( class="navbar navbar-expand-lg navbar-light bg-light")
            button(type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span( class="navbar-toggler-icon")                      
            a(class="navbar-brand" href=(menu=="home"?"#":"/")) My Site
            div(class="collapse navbar-collapse" id="menu")
                ul( class="navbar-nav mr-auto")
                    li(class=(menu=="home"?"nav-item active":"nav-item"))
                        a(href=(menu=="home"?"#":"/")  class="nav-link") Home
                    if(user)
                        li(class=(menu=="users"||menu=="single-user"?"nav-item active":"nav-item"))
                            a(href=(menu=="users"?"/users#":"/users") class="nav-link") Users
                if(menu!="login")
                    if(user)
                        ul(class="navbar-nav my-2 my-lg-0")
                            li(class="nav-item mr-sm-2")
                                a(href="#") #{user.username}
                            li(class="nav-item mr-sm-2")
                                a(href="/logout") Logout
                    else
                        ul(class="navbar-nav my-2 my-lg-0")
                            li(class="nav-item mr-sm-2")
                                a(href="/login") Login
        div( class="container-fluid")
            block content-body
        block scriptsbottom
