doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta( http-equiv="X-UA-Compatible" content="ie=edge")
        title #{title}
        base(href="/")
        link( rel="stylesheet" type="text/css" href="../css/bootstrap.css")
        link( rel="stylesheet" type="text/css" href="../css/common.css")
        block csses
        script( src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script( src="../js/bootstrap.js")
        block scripts
    body
        nav( class="navbar navbar-default navbar-static-top")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false")
                        span( class="sr-only") Toggle navigation
                        span( class="icon-bar")
                        span( class="icon-bar")
                        span( class="icon-bar")
                    a(class="navbar-brand" href=(menu=="home"?"#":"/")) My Site
                ul( class="collapse navbar-collapse nav navbar-nav" id="menu")
                    li(class=(menu=="home"?"active":""))
                        a(href=(menu=="home"?"#":"/")) Home
                    if(user)
                        li(class=(menu=="users"||menu=="single-user"?"active":""))
                            a(href=(menu=="users"?"/users#":"/users")) Users
                if(menu!="login")
                    if(user)
                        ul(class="nav navbar-nav navbar-right")
                            li(class="")
                                a(href="#") #{user.username}
                            li(class="")
                                a(href="/logout") Logout
                    else
                        ul(class="nav navbar-nav navbar-right")
                            li(class="")
                                a(href="/login") Login
        div( class="container-fluid")
            block content-body
        block scriptsbottom
