extends ../layout.pug
block csses
    link(rel="stylesheet" type="text/css" href="css/user.css")
block content-body
    div(class="row") 
        div(class="col-sm-12" id="userApp") 
            div(class="row")
                div(class="col-sm-12")
                    button(type="button" class="btn btn-outline-primary" @click="newUser") Add 
                        span(class="oi oi-plus")                                                             
            grid(:grid-cols="gridCols"  :grid-class="gridClass" @on-load="gridLoad" :pager-props="gridPagerProps" @on-paging="gridLoad" @on-grid-action-click="onGridActionClick")      
            usermanipulation( :id="userManipulationProps.id" @on-save="saveUserData"  @on-load="onUserManipulationLoad")
block scriptsbottom    
    script(src="users/dist/user.js")
    